{% extends 'bootstrap/base.html' %}

{% block title%}
{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
          {% for category,message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand"><b>Theads</b></a>
  </div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('viewtable') }}">Lista Tareas</a></li>
     <li><a href="{{ url_for('register') }}">Nueva Tarea</a></li>
 <li><a href="{{ url_for('graficas') }}">Grafica</a></li>
    </ul>

  </div>
</nav>

    {% block sub_content %}
    {% endblock %}
{% endblock %}
